<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.laf.mapper.ICityMapper">

    <!-- 失物 -->
    <resultMap id="provinceMap" type="Lost">
        <id property="lMsgId" column="l_msg_id"/>
        <result property="lProvince" column="l_province"/>
        <result property="lCity" column="l_city"/>
        <result property="lAddress" column="l_address"/>
        <result property="lTime" column="l_time"/>
        <result property="title" column="title"/>
        <result property="type" column="type"/>
        <result property="expiration" column="expiration"/>
        <result property="body" column="body"/>
        <result property="pic1" column="pic_1"/>
        <result property="pic2" column="pic_2"/>
        <result property="contact" column="contact"/>
        <result property="lPhone" column="l_phone"/>
        <result property="lEmail" column="l_email"/>
        <result property="uId" column="u_id"/>
        <result property="verifyStatus" column="verify_status"/>
        <result property="createTime" column="created_time"/>
        <result property="modifyTime" column="modify_time"/>
    </resultMap>

    <!-- 招领 -->
    <resultMap id="pickupMapper" type="Pickup">
        <id property="pMsgId" column="p_msg_id"/>
        <result property="pProvince" column="p_province"/>
        <result property="pCity" column="p_city"/>
        <result property="pAddress" column="p_address"/>
        <result property="pTime" column="p_time"/>
        <result property="title" column="title"/>
        <result property="type" column="type"/>
        <result property="expiration" column="expiration"/>
        <result property="body" column="body"/>
        <result property="pic1" column="pic_1"/>
        <result property="pic2" column="pic_2"/>
        <result property="contact" column="contact"/>
        <result property="pPhone" column="p_phone"/>
        <result property="pEmail" column="p_email"/>
        <result property="uId" column="u_id"/>
        <result property="verifyStatus" column="verify_status"/>
        <result property="createTime" column="created_time"/>
        <result property="modifyTime" column="modify_time"/>
    </resultMap>

    <!-- 查询该城市的失物数据总条数 -->
    <select id="getLostCountByCity" resultType="Integer">
        select count(*) from lost where l_province = #{province} and is_delete = 1 and verify_status = 1 and l_city = #{city};
    </select>

    <!-- 查询该城市的失物数据 -->
    <select id="getLostListByCity" resultMap="provinceMap">
        select * from lost where l_province = #{province} and l_city = #{city} and is_delete = 1 and verify_status = 1 order by created_time desc limit #{offset},#{num};
    </select>

    <!-- 查询该城市的招领数据总条数 -->
    <select id="getPickupCountByCity" resultType="Integer">
        select count(*) from pickup where p_province = #{province} and is_delete = 1 and verify_status = 1 and p_city = #{city};
    </select>

    <!-- 查询该城市的招领数据 -->
    <select id="getPickupListByCity" resultMap="pickupMapper">
        select * from pickup where p_province = #{province} and p_city = #{city} and is_delete = 1 and verify_status = 1 order by created_time desc limit #{offset},#{num};
    </select>
</mapper>